@model Gateau

<div class="card mb-3" style="max-width: 100%;">
    <h3>Détails du gâteau : @Model.Nom </h3>
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.UrlImage" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Ingrédients</h5>
                <p class="card-text">@Model.Ingredients</p>
                <p class="card-text"><small class="text-body-secondary">@Model.Description</small></p>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" asp-action="Index">Retour à la liste de gâteaux</a>
    <a class="btn btn-secondary" asp-route-id="@Model.Id" asp-action="ModifierGateau">Modifier gâteau</a>
    <!-- @Html.ActionLink("Supprimer", "Supprimer", new { id = @Model.Id })  -->


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Supprimer
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Veuillez confirmer la suppression</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                    <!-- Bouton qui supprime après le message de confirmation -->
                    <a class="btn btn-danger" asp-route-id="@Model.Id" asp-action="Supprimer">Supprimer gâteau</a>
                </div>
            </div>
        </div>
    </div>
</div>
